@font-face {
    font-family: 'kanit-web';
    src: url('fonts/kanit/kanit-light-webfont.eot');
    src: url('fonts/kanit/kanit-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/kanit/kanit-light-webfont.woff2') format('woff2'),
         url('fonts/kanit/kanit-light-webfont.woff') format('woff'),
         url('fonts/kanit/kanit-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'kanit-web';
    src: url('fonts/kanit/kanit-semibold-webfont.eot');
    src: url('fonts/kanit/kanit-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/kanit/kanit-semibold-webfont.woff2') format('woff2'),
         url('fonts/kanit/kanit-semibold-webfont.woff') format('woff'),
         url('fonts/kanit/kanit-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'athiti-web';
    src: url('fonts/athiti/athiti-medium-webfont.eot');
    src: url('fonts/athiti/athiti-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/athiti/athiti-medium-webfont.woff2') format('woff2'),
         url('fonts/athiti/athiti-medium-webfont.woff') format('woff'),
         url('fonts/athiti/athiti-medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'thaisarabun-web';
    src: url('fonts/thaisarabun/THSarabunNew.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'thaisarabun-web';
    src: url('fonts/thaisarabun/THSarabunNew-Bold.ttf');
    font-weight: 500;
    font-style: normal;
}